@{
    ViewData["Title"] = "Acesso Negado";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-content">
                    <header>
                        <h2 class="text-danger">@ViewData["Title"]</h2>
                        <p class="text-danger">Você não tem permissão pra acessar este conteúdo</p>
                    </header>
                </div>
            </div>
        </div>
    </div>
</div>